* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

.first-image{
  background-image: url(./images/ms1.png);
  min-height: 100%;
}

.second-image{
  background-image: url(./images/ms2.jpg);
  min-height: 80%;
}

.third-image{
  background-image: url(./images/ms3.jpg);
  min-height: 80%;
}

.forth-image{
  background-image: url(./images/ms4.jpg);
  min-height: 80%;
}

.fifth-image{
  background-image: url(./images/ms5.jpg);
  min-height: 100%;
}

.first-image, .second-image, .third-image, .forth-image, .fifth-image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

article{
  text-align: center;
  padding: 40px 80px;
  line-height: 28px;
}

.text-grey{
  color: rgb(109, 108, 108);
}

.text-black{
  background-color: #282E34;
  color: white;
}

h2{
  margin-bottom: 20px;
  font-size: 30px;
}

.top_header{
    position: relative;
    text-align: center;
    background-color: #f93d3dc2;
    color: white;
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px 0px;
    font-size: 50px;
    letter-spacing: 6px;
    outline-offset: 16px;
    outline: 8px inset rgb(255, 0, 0);
    transform: scale(1);
    transition: 0.5s;
}

.top_header:hover{
  transform: scale(1.2);
  transition: 0.5s;
  background-color: #f93d3ddc;
  cursor: pointer;
  
}

      .third_header{
        position: relative;
        text-align: center;
        background-color: #0000009c;
        color: white;
        width: 600px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px 0px;
        font-size: 50px;
        letter-spacing: 6px;
        outline-offset: 10px;
        outline: 5px inset rgb(255, 0, 0);
        transform: scale(1);
        transition: 0.5s;
    }

    .third_header:hover{
      transform: scale(1.2);
      transition: 0.5s;
      background-color: rgb(0, 0, 0);
      cursor: pointer;
    }

    .forth_header{
      position: relative;
      text-align: center;
      background-color: #15097cac;
      color: white;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px 0px;
      font-size: 50px;
      letter-spacing: 6px;
      outline-offset: 10px;
      outline: 5px inset rgb(255, 0, 0);
      transform: scale(1);
      transition: 0.5s;
  }

.forth_header:hover{
  background-color: #15097c;
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}

  #bottom{
    width: 800px;
    background-color: #282e34f0;
  }

  #bottom:hover{
    background-color: #282e34;
    color: red;
    transition: 1s;
  }

  section{
    position: fixed;
    bottom: 15px;
    right: 15px;
    
  }

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

  button img:last-child {
    display: none;  

  }

  button:active img:last-child {
    display: block;  

  }

  button:hover img:last-child {
    display: block;  

  }


  button:hover img:first-child {
    display: none;  

  }